This project uses a virtual python environment. 
Run ".\venv\Scripts\activate" in the terminal before running any commands.

When making changes, always make the most concise changes.
Write clean code and use DRY (Don't Repeat Yourself) standards.

Always refer to /docs/ when before making changes. Choose one or more files within /docs/ to refer to.
If making visual/stylistic changes, refer to /docs/style.md
If making architecture decisions, refer to /architecture/style.md

When running terminal commands, don't use the && operator. Run commands seperately.

After making changes, always update these files if relevant: /README.txt, docs\architecture.md, docs\summary.md